ci:
  skip: [ty, pytest]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true

      - id: pytest
        name: pytest
        entry: uv run pytest --cov=wolfbot --cov-report=html --durations=0 --ignore=tests/integration_test
        language: python
        types: [python]
        always_run: true
        pass_filenames: false
        verbose: true
